<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="AUTH Suite Test">
            <directory suffix="Test.php">Test</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>Test</directory>
        </exclude>
    </source>
</phpunit>
